services:
  krosoft-extensions.redis:
    ports:
      - "6376:6379"

  krosoft-extensions.samples.dotnet9.api:
    build:
      context: ..
      dockerfile: Krosoft.Extensions.Samples.DotNet9.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:5000
    ports:
      - "6009:5000"
